.whatimdoing {
    background-color: var(--pages2);
}

.whatido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-none);
    padding: 100px 0;

    h2 {
        margin: 0;
        font-size: 40px;
        font-weight: 1000;
        padding-top: 10vh;
    }
}

.whatido-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    height: 50vh;

    .icons-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2vh;
    }

    .icons-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5vw;
        border: 2px solid var(--contrast);
        padding: 20px;
        background-color: #161616;
        -webkit-box-shadow: inset 0px 0px 20px 7px rgba(255,0,0,0.1);
        -moz-box-shadow: inset 0px 0px 20px 7px rgba(255,0,0,0.1);
        box-shadow: inset 0px 0px 20px 7px rgba(255,0,0,0.1);
        border-radius: 1rem;
        width: 20vw;

        .icon {
            color: var(--contrast);
        }
    }
}

@media only screen and (max-width: 600px) {
    .whatido-row {
        flex-direction: row;
        font-size: 20px;

        .icons-row {
            flex-direction: column;
            width: 30vw;
            gap: 1vw;
        }
    }
}

@media only screen and (max-width: 400px) {
    .whatido {
        h2 {
            font-size: 30px;
        }
    }
    
    .whatido-row {
        height: 80vh;
    }
}