.contact {
    background-color: var(--pages);
}

.flex-row {
    display: flex;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px 0;

    .contact-element1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: var(--contactelement);
        padding: 100px;
        border-radius: 33px 0 0 33px;
        color: var(--text-none);

        .element1-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 0 0 0 60px;

            h2 {
                font-size: 2rem;
            }

            hr {
                width: 10vw;
                border: 2px solid  var(--contrast);
            }
        }

        .element1-icons-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 0 0 0 60px;
            font-size: 20px;
        }

        .element1-row-end {
            padding: 30px 0 0 0;

            hr {
                width: 10vw;
                border: 2px solid var(--contrast);
            }
        }
    }
}

.contactform {
    padding: 100px;
    background-color: var(--main);
    color: var(--text-none);
    position: relative;
    border-radius: 33px 33px 33px 33px;

    h2 {
        font-size: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .form-flex-row {
        display: flex;
        gap: 1vw;
    }

    input[type=text], select, textarea {
        padding: 12px;
        border: 1px solid #ccc;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        border-radius: 10px;
        background-color: var(--form-input);
        color: var(--text-none);
      }

      textarea {
        height: 10vh;
      }

    ::placeholder {
        color: var(--text);
    }

    .form-button {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .button {
            padding: 10px 25px 10px 25px;
            border-radius: 10px;
            border: none;
            background-color: var(--contrast);
            color: var(--text-none);
            font-size: 15px;
        }

        .submit-error {

            span {
                display: flex;
                gap: 0.3vw;
                font-size: 15px;
            }

            .success {
                color: green;
            }

            .error {
                color: red;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .flex-row {
        display: flex;
        justify-content: center;
    }
    
    .contact {
        flex-direction: column;

        .contact-element1 {
            padding: 0;
            border-radius: 33px 33px 0 0;

            .element1-icons-row {
                padding: 0 0 0 30px;
            }
        }
    }

    .contactform {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 33px 33px;

        .form-flex-row {
            display: flex;
            flex-direction: column;
            gap: 1vw;
        }

        input[type=text] {
            width: 70vw;
        }
    }
}