.header {
    overflow: hidden;
    padding-top: 30px;
    font-family: 'Bebas Neue', sans-serif;
    position: fixed;
    top: 0;
    z-index: 999;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .logo:hover {
    background-color: transparent;
  }

  .logo {
    span {
      color: var(--contrast);
    }
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 28px;
    line-height: 25px;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
    display: flex;
    gap: 2vw;

    .hover-effect {
        display: inline-block;
        position: relative;
      }

      .hover-effect:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--contrast);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      .hover-effect:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
  }

  /* Position and sizing of burger button */
.bm-burger-button {
  display: none;
  position: relative;
  width: 36px;
  height: 30px;
  top: 6px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--contrast);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: var(--main2);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vh;
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1024px) {
  
  .header-right {
    padding-right: 40px;
    .hover-effect {
      display: none;
    }
  }
  
  .bm-burger-button{
    display: block;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  .header-right {
    padding-right: 40px;
    .hover-effect {
      display: none;
    }
  }
  
  .bm-burger-button{
    display: block;
  }
}