.projects {
    background-color: var(--pages2);
}

.myprojects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-none);
    padding: 100px 0;

    hr {
        width: 2vw;
        border: 2px solid var(--contrast);
    }

    h2 {
        margin: 0;
        font-size: 40px;
        font-weight: 1000;
    }
}

.cards-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 5vh;

    .image {
        object-fit: cover;
    }
}

.card {
    position: relative;
    overflow: hidden;
    
    &:hover {
        .card-overlay {
            transform: translateY(0);
        }
    }
}
  
  .card-progress::after{
    position: absolute;
    content: 'In Progress';
    top: 0px;
    border-radius: 10px;
    right: -14px;
    padding: 0.5rem;
    width: 10rem;
    background: var(--contrast);
    color: white;
    text-align: center;
    font-weight: 600;
    box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
  }

.card-overlay {
    transform: translateY(100%);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    transition: 0.4s;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .card-overlay-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-align: center;
        padding: 20px;

        .overlay-heading {
            font-weight: 600;
            font-size: 20px;
        }
    }
}

.overlay-buttons {
    display: flex;
    gap: 1rem;

    .project-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        padding: 15px;
        background-color: var(--pages);
        color: var(--text-none);
        border: none;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px) {
    .myprojects {
        hr {
            width: 10vw;
        }
    }
    
    .cards-row {
        flex-direction: column;
        gap: 4vh;
    }

    .css-orzpmo-JoyCard-root {
        width: 300px;
    }
}

@media only screen and (max-width: 400px) {
    .myprojects {
        h2 {
            font-size: 30px;
        }
    }

    .cards-row {
        width: 100%;
        margin-top: 5vh;
    }

    .css-orzpmo-JoyCard-root {
        width: 250px;
    }
}