.skills {
    background-color: var(--pages);
}

.myskills {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-none);
    padding: 100px 0;

    hr {
        width: 2vw;
        border: 2px solid var(--contrast);
    }

    h2 {
        margin: 0;
        font-size: 40px;
        font-weight: 1000;
        padding-top: 5vh;
    }
}

.skills-flex-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    .icons-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vh;

        .icons-row {
            display: flex;
            font-size: 6rem;
            gap: 3vw;
        }

        .icon {
            color: #f06529;
        }

        .icon2 {
            color: #264de4;
        }

        .icon3 {
            color: #61DBFB;
        }

        .icon4 {
            color: #CD6799;
        }

        .icon5 {
            color: #F0DB4F;
        }

        .icon6 {
            color: #00758F;
        }

        .icon7 {
            color: #F1502F;
        }
    }
}

.circular-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;

    .circular-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .circular-center-text {
        color: var(--text-none);
    }
}

@media only screen and (max-width: 600px) {
    .myskills {
        hr {
            width: 10vw;
        }
    }
    
    .skills-flex-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .icons-column {

            .icons-row {
                font-size: 4rem;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .myskills {
        h2 {
            font-size: 30px;
        }
    }
}