.skills {
    background-color: var(--pages);
}

.myskills {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-none);
    height: 80vh;

    hr {
        width: 2vw;
        border: 2px solid var(--contrast);
    }

    h2 {
        margin: 0;
        font-size: 40px;
        font-weight: 1000;
        padding-top: 10vh;
    }
}

.skills-flex-row {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;

    .icons-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vh;

        .icons-row {
            display: flex;
            font-size: 6rem;
            gap: 3vw;
        }
    }
}

.circular-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;

    .circular-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .circular-center-text {
        color: var(--text-none);
    }
}