//Colors
:root {
    --main: #202020;
    --main2: #3F3F3F;
    --contrast: #0000ff;
    --text: #8F8F8F;
    --text-none: white;
    --icons: #353535;
    --pages: #161616;
    --pages2: #1D1D1D;
    --contactelement: #272727;
    --form-input: #343434;

}