.about {
    background-color: var(--pages);
}

.about-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-none);
    padding: 100px 0;

    hr {
        width: 2vw;
        border: 2px solid var(--contrast);
    }

    h2 {
        margin: 0;
        font-size: 40px;
        font-weight: 1000;
        padding-top: 10vh;
    }
}

.about-flex-row {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--text);
    font-size: 25px;
    letter-spacing: 2px;

    .about-text {
        width: 80%;
        text-align: center;

        span {
            color: var(--contrast);
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .about-flex-column {
    
        hr {
            width: 10vw;
            border: 2px solid var(--contrast);
        }
    }
}

@media only screen and (max-width: 400px) {
    .about-flex-column {
        h2 {
            font-size: 30px;
        }
    }
    
    .about-flex-row {
        font-size: 20px;
    }
}